@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://i.pinimg.com/736x/c4/ce/5e/c4ce5e551f6c9f317d4eb62213bbadd8.jpg");
  background-size: cover;
  font-family: "Outfit";
}

header {
  display: flex;
  justify-content: flex-start;
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px;
  border-radius: 20px;

}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

article {
  margin-top: 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 18px;

}

.nav-button {

  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 40px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  color: #de004a;
}

main {
  padding: 20px;

}

section {
  justify-items: center;
  background-color: #fcc4d700;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ff69b433;
  margin-bottom: 20px;
}

#purpose {
  color: #9d013d;
}

#arq-apli {
  color: #cc7093;
}

#estudante {
  color: #000000;
  border-radius: 20px;
  padding: 10px;
}

p {
  font-size: 15px;
  color: #ffffff;
}

#arquitetura {
  color: #ffffff;
}

#about {
  color: #ffffff;
}

#p-contact {
  color: #ffa7bc;
}

#p-index {
  font-size: 20px;
  color: #ffffff
}

#li-met {
  color: #ffffff;
  font-size: 18px;

}

#introduction {
  color: #990040;
  padding: 10px;
  border-radius: 20px;
}

#met {
  color: #000000;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.student {
  justify-items: center;
}

footer {
  background-color: #f0739800;
  text-align: center;
  padding: 15px;
  width: 100%;
  margin-top: 85px;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #31000b;
}

input {
  background-color: #ffcfe463;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;

}

input::placeholder {
  color: #161616;
}

select {
  background-color: #ffcfe463;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}



.card {
  background: #ffcbde20;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px #0000001a;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content {
  padding: 15px;
  margin: 15px;
  background-color: #ffffff00;
  border-radius: 20px;
}

.content h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.content p {
  color: #000000;
  margin-bottom: 15px;
}

.content button {
  background-color: #1c0008;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.content button:hover {
  background-color: #a50445;
}

form {
  border-radius: 20px;
  background-color: #ff40865e;
  padding: 20px;
}

label {
  color: #ffffff;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}



button {
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  color: #ffffff;
  font-weight: bold;
  transition: background-color 0.3s;

}

#reset:hover {
  background-color: #393334;
}

#submit:hover {
  background-color: #910237;
}

#reset {
  background-color: #775f68;

}

#submit {
  background-color: #df175a;
}

.other-contacts a {

  color: #92003a;
}

#other-contacts {
  color: #000000;
  font-size: 17px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-left: 250px;
  max-width: 1200px;
  padding: 20px;

}

#image {
  margin-left: 100px;
  height: 250px;
  width: 400px;
}

#image-1 {
  margin-left: 150px;
  height: 280px;
  width: 300px;
}

#generate {
  margin: 20px;
  height: 100px;
  width: 200px;
}

#label {
  font-weight: bold;
  background-color: transparent;
}

#generate-img {
  background-color: #8a0035;
}

#generate-img:hover {
  background-color: rgb(19, 7, 10);
}